<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>关系处理</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="css/sm.css">
	<link rel="stylesheet" href="css/sm-extend.css">
	<link rel="stylesheet" href="css/login.css">
	<script type='text/javascript' src='js/zepto.js' charset='utf-8'></script>
    <script type="text/javascript" src="js/update.js" ></script>
    <script type="text/javascript" src="js/common.js" ></script>
    <script type="text/javascript" src="js/template.js" ></script>
    <script type="text/javascript" src="js/layer/layer.js" ></script>
	
</head>
<body>
    <div class="page-group" style="background-color:#f5f5f5;" id="chat-new">
        <div class="page page-current" style="background-color:#f5f5f5;">
        	<header class="bar bar-nav">
        		<button class="button pull-left btn-back" onclick="back()"><img src="images/icon/icon-arrow-left.png" class="icon-close" /></button>
				<button class="button pull-right btn-back" style="color:#fff;" onclick="clicked('chat-add-friend.html')">加好友</button>
        		<h1 class="title">关系处理</h1>
			</header>
        	<div class="content chat-content">
			  	<div class="content-block add-content-content infinite-scroll native-scroll" id="page-infinite-scroll-top"  data-distance="100" style="padding:0;">
		        	<div class="list-block" id="applyList"></div> 
		       	</div>
		       	
			</div>
        </div>        
    </div>
    <script type="text/html" id="applyListT">
    	<ul>
    		{{each list as item i}}
    		
    		<a href="javascript:;">
		        <li class="item-content">
		          	<div class="item-media"><i class="icon face"><img src="{{item.head_portrait}}" /></i></div>
		          	<div class="item-inner uc-list-inner my-inner-list" style="margin-left:1.333333rem;">
		            	<div class="item-title">
		            		<p style="line-height:2rem;">{{item.nickname}}</p>
		            		<p>{{item.remarks}}</p>
		            	</div>
		            	<div class="item-after"><span class="types">{{item.typename}} </span><button class="button pull-right {{if item.expire == 0}}btn-red{{/if}}{{if item.expire == 1}}btn-disabled{{/if}} {{if item.expire == 2}}btn-yijing{{/if}} agree"  data-id="{{item.user_id}}" type-id="{{item.type}}" company-id="{{item.company_id}}" expire="{{item.expire}}" style="">{{if item.expire == 0}}同意{{/if}}{{if item.expire == 1}}已过期{{/if}}{{if item.expire == 2}}已添加{{/if}}</button></div>
		          	</div>
		        </li>
		    </a>
    		
		    {{/each}}
	    </ul>
    </script>
    
    
	<script type='text/javascript' src='js/sm.js' charset='utf-8'></script>
	<script type='text/javascript' src='js/sm-extend.js' charset='utf-8'></script>
	<script type="text/javascript" src="js/chat-new.js" ></script>
	
	
	
</body>
</html>